<div class="pure-g">
  <div class="pure-u-1">
    <div class="pure-menu pure-menu-horizontal">
    
    <ul class="pure-menu-list">
       <li class="pure-menu-item"><a href="#" class="pure-menu-link">Home</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">De Opleiding</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Over CMO</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Contact</a></li>
    </ul>
</div>
   
 
    
    
  
  </div>
  
 
  <div class="pure-u-1 pure-u-md-1-4">
    <img  src="http://dehayf5mhw1h7.cloudfront.net/wp-content/uploads/sites/470/2015/10/23122001/CommonMan.jpg " class="pure-img person">
    <p class="quote">"Het is een droom om later app's te ontwikkelen die later een invloed kunnen hebben op het sociale gedrag bij mensen"</p>
    
    <img  class="pure-img imgaf"src="http://www.dagvandearchitectuur.be/2015/website/_images/_thumbs/360w/APellerman_antwerpen_stramienchak_lopez_F9.jpg">
    
    <img class="pure-img imgaf"src="http://www.vai.be/sites/default/files/fotos/projecten/apellerman_antwerpen_stramienchak_lopez_f2.jpg">
     
    <img class="pure-img imgaf"src="http://www.architectura.be/img-orig/142914APellerman_antwerpen_stramien_chak_lopez_F5.jpg">
    
    <p><a  href="http://crossmediait3djopdracht6.neocities.org/">Neocities</a></p>
     
 
  
  </div>
  
  <div class="pure-u-1 pure-u-md-3-4">
   <iframe width="660" height="415" class="vid" src="https://www.youtube.com/embed/QJLZD81EQbU" frameborder="0" allowfullscreen></iframe>
    <div class="opleiding">
    <h3>De Opleiding</h3>
    <p>Als student Grafische en Digitale Media werk je dagelijks met verschillende vormen van media. Je ontwerpt websites en blogs of specialiseert je in het design van gedrukte media: kranten, tijdschriften, boeken, folders, verpakkingen en nog zo veel meer.

</p>
    
    <p>Veel van onze studenten zijn creatief bezig, willen foto’s digitaal bewerken en documenten of websites opmaken.

Sommige studenten willen eerder de technische aspecten onder de knie krijgen om een productieproces te kunnen leiden. Nog anderen zijn dan weer eerder commercieel aangelegd. Zij houden ervan om besprekingen met klanten te voeren om de realisatie van een creatief idee tot een eindproduct te kunnen uitwerken.</p>
      
      <h4>VAN IDEE TOT PRODUCTIE</h4>
   <p>

Je snapt het belang van een degelijk grafisch ontwerp en de opmaak van documenten. Je ziet het verschil tussen een professionele opmaak en een lucky shot van een amateur. Je wilt grafische software in je vingers krijgen. Waken over elke vierkante centimeter van de lay-out. Zélf een rol spelen in de ketting van idee tot publicatie: van creatief ontwerper tot commercieel vertegenwoordiger, van orderbegeleider tot productiemanager.</p>
      <h4>WERKEN MET DE TECHNOLOGIE VAN VANDAAG EN MORGEN</h4>
    <p>

In de bachelor Grafische en Digitale Media houden we de vinger aan de pols van de echte wereld. Je krijgt hier les over de technologie van vandaag. Maar wij gaan ook verder dan vandaag, wij kijken ook naar wat morgen relevant en interessant zal zijn. We leren je werken in een context die snel verandert en waarin je voortdurend moet bijsturen.</p>
      <h4>ULTRAMODERNE NIEUWE CAMPUS</h4>
     <p>

Je volgt les op campus Spoor Noord, de nieuwe campus van het departement Wetenschap en Techniek met ultramoderne aula's, labo's en praktijklokalen. De campus is voorzien van alle moderne studentenfaciliteiten: een uitgebreide bibliotheek, modern studentenrestaurant en ondergrondse parking met fietsenstalling.</p>
      
      <p>In jaar twee en drie verdiep je je in de belangrijkste
media voor online communicatie. Bij webontwerp gaan
we dieper in op zaken als gebruiksvriendelijk design,
interactieve effecten en content management systemen
ter promotie en ondersteuning van producten,
handelszaken en diverse organisaties. Je leert hoe je
met professionele foto- en video opnames en animatietechnieken,
producten en diensten in de kijker kan
zetten. Natuurlijk krijg je nog heel veel basisvaardigheden
aangereikt zoals professionele communicatie in
        andere talen en verkoops- en marketingtechnieken.</p>
      
   </div>
    
    
    <div class="cross">
      <div class="balk"></div>
    <div class="divsgr">
      
      <iframe width="660" height="415" class="vid" src="https://www.youtube.com/embed/xzs7r2soRv4" frameborder="0" allowfullscreen></iframe>
    <h3>KIES VOOR CROSSMEDIA-ONTWERP</h3>
    <p>Omdat jij het web begrijpt. En tablets. En al die andere
moderne technologieën. Je weet hoe blogs en websites
in elkaar zitten. Je snapt dat op internet alles met
elkaar verweven is: sociale media, fi lmpjes, 3D-animaties,
statische content, ... Je voelt ook met je ellebogen
aan dat online communicatie de toekomst beheerst.
Daarom wil je in dat boeiende wereldje een rol spelen.
Mee aan de wieg staan van spraakmakende online
projecten, en creatief meedenken over het ontwerp en
de ontwikkeling.</p>
    
    <p>Je ziet het verschil tussen een professionele opmaak
en een lucky shot van een amateur. Je wilt grafi sche
software in je vingers krijgen. Waken over elke
vierkante centimeter van de lay-out. Zélf een rol spelen
in de ketting van idee tot publicatie: van creatief
ontwerper tot commercieel vertegenwoordiger, van
      content- tot productiemanager.</p>
    
   <p>Omdat wij keihard geloven in het web en in moderne
communicatiemiddelen zoals smartphones en tablets.
De mediawereld staat op zijn kop: consumenten en
lezers hebben de macht in handen. Merken en bedrijven
moeten zich inspannen om steeds creatiever en
relevanter uit de hoek te komen. Daarom leren we je
tijdens je opleiding ook kritisch nadenken. Je voert je
ideeën ook écht uit zodat je ziet wat je creaties in de
praktijk losweken.</p>
    
    <p>Omdat je opleiding de vinger aan de pols van de echte
wereld houdt. Je krijgt hier les over de technologie
van vandaag. Maar, wij kijken ook naar wat morgen
relevant en interessant is. En leren je werken in een
context die snel verandert en waarin je voortdurend
      moet bijsturen.</p>
      
     <p>In het eerste jaar verdiep je je in technologische
informatie en de basisprincipes van visuele communicatie.
Je leert werken met de belangrijkste software
voor de ontwikkeling van web- en printgerichte media.
Je onderzoekt ook hoe je met grafi sch ontwerp jouw
boodschap kracht bij zet. Van bij de start oefen je je
managementvaardigheden om teamwerk om te zetten
tot knappe resultaten.</p>
      <p>In jaar twee en drie verdiep je je in de belangrijkste
media voor online communicatie. Bij webontwerp gaan
we dieper in op zaken als gebruiksvriendelijk design,
interactieve effecten en content management systemen
ter promotie en ondersteuning van producten,
handelszaken en diverse organisaties. Je leert hoe je
met professionele foto- en video opnames en animatietechnieken,
producten en diensten in de kijker kan
zetten. Natuurlijk krijg je nog heel veel basisvaardigheden
aangereikt zoals professionele communicatie in
        andere talen en verkoops- en marketingtechnieken.</p>
      <p>Nooit theorie zonder praktijk. Dat is ons motto, drie
jaar lang. We laten je zoveel mogelijk bedenken, visualiseren
en creëren in diverse media. </p>
    
  </div>
    </div>
  </div>
  
<div class="pure-u-1">
  
  <h3 class="con">Contact</h3>
  
<form class="pure-form">
    <fieldset class="pure-group">
        <input type="text" class="pure-input-1-2" placeholder="Username">
        <input type="text" class="pure-input-1-2" placeholder="Password">
        <input type="email" class="pure-input-1-2" placeholder="Email">
    </fieldset>

    <fieldset class="pure-group">
        <input type="text" class="pure-input-1-2" placeholder="A title">
        <textarea class="pure-input-1-2" placeholder="Textareas work too"></textarea>
    </fieldset>

    <button type="submit" class="pure-button pure-input-1-2 pure-button-primary">Sign in</button>
</form>
 
  
  </div>






</div>


